.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}


body {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/milky-way-over-the-sky-view-from-the-southern-royalty-free-image-1594935629.jpg");
    background-repeat: repeat
  }

td, th, p, h2, h4 {
    color: red;
}