.overflow-scroll {
  overflow:scroll;
}

.fa.fa-heart {
    color: red;
    margin-left: 40px;
  }

body {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/milky-way-over-the-sky-view-from-the-southern-royalty-free-image-1594935629.jpg");
    background-repeat: repeat
  }

p {
    color: red;
}